@font-face {
  font-family: "Metro Beardy";
  src: url("../assets/fonts/Metro Beardy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../assets/fondos/fondo-principal.png") no-repeat center
    center;
  background-size: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.title h2 {
  font-family: "Metro Beardy" !important;
  color: rgb(225, 225, 225) !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
  font-size: 6em !important;
}

.title p {
  color: rgb(225, 225, 225) !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em !important;
  font-weight: bold !important;
}

.btn-yellow {
  background-color: transparent !important;
  color: #feca57 !important;
  border: 2px solid #feca57 !important;
  border-radius: 5px !important;
  padding: 0.5rem 1.5rem !important;
  font-weight: bold !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
}

.btn-yellow:hover {
  background-color: #feca57 !important;
  color: #000 !important;
}
