@font-face {
  font-family: "Metro Beardy";
  src: url("../assets/fonts/Metro Beardy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.app {
  height: 90vh;
}

.app h2 {
  font-family: "Metro Beardy" !important;
  color: rgb(225, 225, 225) !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px !important;
  padding-bottom: 0px !important;
  font-size: 8em !important;
}

.app p {
  color: rgb(225, 225, 225) !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.5em !important;
  font-weight: bold !important;
  width: 100% !important;
  padding-left: 250px !important;
  padding-right: 250px !important;
}

.icon-circle {
  width: 48px;
  height: 48px;
  background-color: #9b1c1c; /* rojo similar */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  color: #fff;
  font-size: 20px;
}

.letras h5 p {
  color: #ffffff !important;
  padding-top: 30px !important;
  padding-bottom: 500px !important;
}

.containerMap {
  background-color: rgb(242, 242, 242) !important;
  padding-left: 200px !important;
  padding-right: 200px !important;
}
