.navcolor {
  background-color: #951421 !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff !important;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: #252525 !important;
  background-color: #f7d873;
  border-radius: 5px;
}
